section.icons{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
@media screen and (max-width:425px){
    section.icons{
        margin-top: -150px;
    }


}