section.profile-description{
    text-align:center;
    font-size:24px;
    color:#666;
    width:750px;
    margin:-70px auto;
    }
section.profile-description>img{
    margin-top:90px;
    border:10px solid white;
    border-radius:100px;
    }
h1.Name-section{
    margin-top:30px;
    font-weight:bold;
    }
p.sm-intro{
    margin-top:20px;
    font-size:20px;
    color:#666;
    }
p.intro-part{
    margin-top:20px;
    font-size:20px;
    color:#888
}
div.icons{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width:425px){
    section.profile-description{
        margin-top:50px;
    }
    section.profile-description>img{
        margin-top:90px;
        margin:0 auto;
    }	
    section.profile-description{
        width:385px;
        margin:100px auto;
        height:500px;    
    }
    div.icons{
        display: none;
    }
}