#home
{
    text-align:center;
    font-size:24px;
    color:#666;
    width:750px;
    margin:auto;
}
#home > img
{
    margin-top:90px;
    border:10px solid white;
    border-radius:100px;
}
#home > h1
{
    margin-top:30px;
    font-weight:bold;
}
p.sm-intro
{
    margin-top:20px;
    font-size:20px;
    color:#666;
}
p.intro-part
{
    margin-top:20px;
    font-size:20px;
    color:#888
}
ul.social-links
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
    max-width: 400px;
    justify-content: center;
}
ul.social-links > li {
    text-align: center; 
}

ul.social-links > li > a {
    display: inline-block; 
    height: 60px; 
    width: 60px; 
}

ul.social-links > li > a > img {
    height: 60px; 
    width: 60px; 
}
@media screen and (max-width:425px)
{
    #home
    {
        margin-top:50px;
    }
    #home > img
    {
        margin-top:90px;
        margin:0 auto;
    }	
    #home
    {
        width:385px;
        margin:100px auto;
        height:500px;
    }
 }