#articles > article
{
    width: 1000px;
    margin: 50px auto;
}
#articles > article > article
{
    background-color: var(--button-background);
    padding: 20px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}
#articles > article > article > div
{
    border-left: 5px solid #EEE;
    padding-left: 10px;
}
#articles > article > article > h4
{
    font-size: 18px;
}
#articles > article > article > p
{
    color: var(--primary-font-color);
    font-size: 16px;
}
#articles > article > article > a
{
    text-decoration:none;
    color: var(--secondary-font-color);
    padding:10px 8px 10px 8px;
    margin-left:-10px;
    display:flex;
    align-items:center;
    width:90px;
    background-image:url('../img/right-arrow-dark.png');
    background-repeat: no-repeat;
    background-position: right;
}
#articles > article > article > a:hover
{
    background-image: url('../img/right-arrow-light.png');
    background-color:black;
    color:white;
    background-repeat: no-repeat;
    border-radius: 5px;
}
@media screen and (max-width: 425px)
{
    #articles > article
    {
        width: 385px;
    }
}