#articles > article
{
    width: 1000px;
    margin: 50px auto;
}
#articles > article > article
{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
#articles > article > article > div
{
    border-left: 5px solid #EEE;
    padding-left: 10px;
}
#articles > article > article > a
{
    text-decoration:none;
    color:#888;
    padding:10px 8px 10px 8px;
    margin-left:-10px;
    display:flex;
    align-items:center;
    width:90px;;
    background-image:url('img/right-arrow-light');
    background-repeat: no-repeat;
    background-position: right;
}
#articles > article > article > a:hover
{
    background-image: url('img/right-arrow-dark.png');
    background-color:black;
    color:white;
    background-repeat: no-repeat;
}
@media screen and (max-width: 425px)
{
    #articles > article
    {
        width: 385px;
    }
}