 body {
		  margin: 0;
		  background-color: #eee;
		  position: relative;
	  }
	  ul{
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
	  }
	  a {
		  text-decoration: none;
	  }

      section{
        --primary-font-color: #666;
        --secondary-font-color: #888;
        --button-background: #fff;
         }
