footer
{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}
footer p
{
    display: inline-block;
    margin-top: 20px;
}
.footer-links
{
    display: flex;
    gap: 60px;
    margin-top: 20px;
    width: 500px;
    justify-content: space-between;
}
.footer-links a
{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 425px)
{
    footer
    {
        margin: 20px 0;
        display: block;
    }
    footer > div > ul
    {
        flex-direction: column;
    }
}
