footer > div
{
   display: flex;
   width: 1000px;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   color: gray;
}
footer > div > div > ul
{
   display: flex;
   gap: 30px;
}
footer a
{
   font-weight: bold;
   color: var(--secondary-font-color);
}
@media screen and (max-width: 425px)
{
   footer > div
   {
      margin: 20px 0;
   }
   footer > div > div
   {
      flex-direction: column;
      width: 360px;
   }
}
