body
{
    margin: 0;
    background-color: #EEE;
}
header
{
    background-color: transparent;
}
ul
{
    list-style-type: none;
    margin: 0;
}
a
{
    text-decoration: none;
}
nav
{
    width: 500px;
    margin: 75px auto;
    padding: 10px;
    height: 30px;
    background-color: white;
    line-height: 1.8;
    border-radius: 25px;
    box-shadow: 0px 4px 12px -8px #888;
}
nav > ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
nav >ul> li > a
{
    padding: 10px;
    color: #666;
    font-weight: bold;
}
@media screen and (max-width:425px){
    nav
          {
              width: 30px;
              position: absolute;
              right: 20px;
              top: 20px;
              margin: 0;
          }
  

  nav.topnav>ul>li>a{
      display:none;
}
}