.header{
    background-color: transparent;
}
.topnav{
    width: 500px;
    margin: 75px auto;
    padding: 10px;
    height: 30px;
    background-color: white;
    line-height: 1.8;
    border-radius: 25px;
    box-shadow: 0px 4px 12px -8px #888;
}
.topnav > ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.topnav >ul> li > a
{
    padding: 10px;
    color: var(--primary-font-color);
    font-weight: bold;
}
.hamburger{
    position: relative;
    display: none;
}
.hamburger>div{
    height: 4px;
    width: 23px;
    background-color:#888;
    margin:5px auto;
}
@media screen and (max-width:425px){
.topnav{
        width: 30px;
        position: fixed;
        right: 20px;
        top: 20px;
        margin: 0;
        z-index: -1;
        }
.topnav >ul> li > a{
        display: none;
        }
.hamburger{
         display: block;
        }
}