#presentation > h2
{
    width: 1000px;
    margin: 20px auto;
    color:var(--primary-font-color);
}
#presentation > div
{
    display: flex;
    gap: 40px;
    width: 1000px;
    margin: 0 auto;
}
#presentation 
{
    margin: 50px 0;
}
#presentation h4
{
    font-size:20px;
    margin: 10px 10px 10px 0;
}
div.presentation-video
{
    height: 300px;
    width: 480px;
    position: relative;
}
div.presentation-video > img:last-child
{
    position: absolute;
    top: 120px;
    right: 210px;
}
#presentation > div > div > div:last-child
{
    padding: 20px;
    background-color: white;
    height: 60px;
}
p{
color: var(--primary-font-color);
}
@media screen and (max-width: 425px)
{
    #presentation > h2
    {
        width: 385px;
        margin: 20px auto;
    }
    #presentation > div
    {
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    div.presentation-video 
    {
        height: 210px;
        width: 350px;
        position: relative;
    }
    div.presentation-video > img:first-child
    {
	    height: 210px;
        width: 350px;
    }
}