#presentation > h2
{
    width: 1000px;
    margin: 20px auto;
}
#presentation > div
{
    display: flex;
    gap: 40px;
    width: 1000px;
    margin: 0 auto;
}
#presentation 
{
    margin: 50px 0;
}
#presentation h4
{
    margin: 10px 10px 10px 0;
}
div.presentation-video
{
    height: 300px;
    width: 480px;
    position: relative;
}
div.presentation-video > img:last-child
{
    position: absolute;
    top: 120px;
    right: 210px;
}
#presentation > div > div > div:last-child
{
    padding: 20px;
    background-color: white;
    height: 60px;
}
